.closeButton {
  color: black;
  font-size: 25px;
  position: fixed;
  display: inline;
  right: 25px;
  top: 10px;
  @media only screen and (max-width: 800px) {
    right: 15px;
    top: 5px;
  }
}
.title {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  @media only screen and (max-width: 800px) {
    font-size: 28px;
  }
  h3{
    font-size: 18px;
  }
}
.headDetails{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 800px) {
    width: 60%;
  }
}
.firstTitle {
  display: none;
  @media screen and (max-width: 576px) {
    display: block;
  }
}
.secondTitle {
  @media screen and (max-width: 576px) {
    display: none;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}
.image {
  padding: 15px 15px;
  margin-bottom: 15px;
  @media only screen and (max-width: 800px) {
    width: 50vw;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 576px) {
    padding: 0 0;
  }
}
.description {
  // text-align: center;
  // flex: 170%;
  max-width: 170vw;
  padding: 0 20px;

  h2 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    font-weight: 200;
  }
}

.hr {
  width: 90%;
  align-items: center;
  border: 0.5px dotted gray;
  margin: 15px auto;
}
.details {
  font-size: 17px;
  text-align: center;
  margin: 0 auto;

  .registration {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
  }
}
.eventButton {
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 20px 0 20px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #0076fe;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.eventButton:hover {
  background-color: #0077fede;
}
// .button {
// 	pointer-events: auto;
// 	cursor: pointer;
// 	background: #e7e7e7;
// 	border: none;
// 	padding: 1rem 1rem;
// 	font-size: 16px;
//   font-weight: 400;
// 	position: relative;
//   margin-top: 20px;
//   margin-bottom: 15px;
//   border-radius: 20px;
// }

// .button::before,
// .button::after {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
//   padding: 1rem 1rem;
//   border-radius: 18px;
// }
// .buttonHyperion {
// 	padding: 1rem 1rem;
// 	border: 1px solid #013B8c;
// 	overflow: hidden;
// 	color: #fff;
//   border-radius: 20px;
// }

// .buttonHyperion span {
// 	display: block;
// 	position: relative;
// }

// .buttonHyperion > span {
// 	overflow: hidden;
// }

// .buttonHyperion > span > span {
//   color: #fff;
// 	overflow: hidden;
// 	mix-blend-mode: difference;
// }

// .buttonHyperion:hover > span > span {
// 	animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
// }

// @keyframes MoveUpInitial {
// 	to {
// 		transform: translate3d(0,-105%,0);
// 	}
// }

// @keyframes MoveUpEnd {
// 	from {
// 		transform: translate3d(0,100%,0);
// 	}
// 	to {
// 		transform: translate3d(0,0,0);
// 	}
// }

// .buttonHyperion::before {
// 	content: '';
// 	background: #0076FE;
//   color: #fff;
// 	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
// 	transform-origin: 100% 50%;
// }

// .buttonHyperion:hover::before {
// 	transform: scale3d(0,1,1);
// 	transform-origin: 0% 50%;
// }
