.container {
  padding: 10px;
}
.hero {
  height: 100vh;
  max-width: 100vw;
  position: relative;
}
.heroImageContainer {
  background-image: url("/hero.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 576px) {
    background-image: url("/hero1.webp");
  }
}
.about {
  margin-top: 30px;
}
.about h1 {
  text-align: center;
  font-size: 34px;
}
.about p {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 576px) {
    text-align: left;
    width: 90%;
    font-size: 16px;
  }
}

//gallery
.gallery {
  margin-top: 90px;
  margin-bottom: 90px;

  @media screen and (max-width: 576px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

// faculty section
.faculty {
  margin-top: 90px;
  margin-bottom: 90px;
  @media screen and (max-width: 576px) {
    margin-top: 60px;
    margin-bottom: -30px;
  }
  h1 {
    text-align: center;
    font-size: 34px;
  }
  .wrapper {
    height: auto;
    padding: 0 20px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1050px) {
      padding-top: 100px;
      flex-direction: column;
    }
  }

  .profileCard {
    width: 40%;
    height: 210px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    position: relative;

    @media screen and (max-width: 1050px) {
      height: fit-content;
      width: 80%;
      margin-bottom: 100px;
    }
    @media screen and (max-width: 576px) {
      height: 190px;
    }

    &.active {
      .profileCard__cnt {
        filter: blur(6px);
      }
    }

    &__img {
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 4;
      box-shadow: 0px 5px 50px 0px rgb(0, 118, 254),
        0px 0px 0px 5px rgba(0, 118, 254, 0.8);

      @media screen and (max-width: 576px) {
        width: 120px;
        height: 120px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__cnt {
      margin-top: -40px;
      text-align: center;
      padding: 0 20px;
      padding-bottom: 40px;
      transition: all 0.3s;
      @media screen and (max-width: 576px) {
        margin-top: -30px;
      }
    }

    &__name {
      font-weight: 700;
      font-size: 21px;
      color: #000;
      margin-bottom: 15px;

      &__designation {
        color: #0076fe;
        font-weight: 700;
        font-size: 21px;
      }
    }

    &__txt {
      font-size: 16px;
      font-weight: 500;
      color: #324e63;
      margin-bottom: 15px;

      strong {
        //color: #ff2846;
        font-weight: 700;
      }
    }
  }
}

//sponser section
// $animationSpeed: 40s;

// @keyframes scroll {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(calc(-250px * 7));
//   }
// }

// .sponsers {
//   margin-top: 60px;
//   margin-bottom: 60px;
//   @media screen and (max-width: 576px) {
//     margin-top: 30px;
//     margin-bottom: 30px;
//   }

//   h1 {
//     text-align: center;
//     font-size: 34px;
//   }

//   .slider {
//     height: 150px;
//     margin: auto;
//     overflow: hidden;
//     position: relative;
//     width: auto;
//     margin-top: 30px;
//     background-color: #fff;

//     .slideTrack {
//       animation: scroll $animationSpeed linear infinite;
//       display: flex;
//       width: calc(250px * 14);
//     }
//     .slideTrack:hover{
//       -webkit-animation-play-state:paused;
//       -moz-animation-play-state:paused;
//       -o-animation-play-state:paused;
//       animation-play-state:paused;
//       cursor: pointer;
//     }
//     .slide {
//       height: 150px;
//       width: 250px;
//     }
//   }
// }

.sponsers{
  margin-bottom: 45px;
}

.slider {
   
  $min-image-size: 90px;
  $max-image-size: 100px;
  
  --image-size: #{$max-image-size};
  
  // border: 1px solid #575757;
  padding: 20px;
  overflow: hidden;
  // max-width: 900px;
  width: 100%;
  margin: 0 ;	
	position: relative;
	display: flex;

	&:hover div {
		animation-play-state: paused;
	}
	
	div { 
		display: flex;
		position: relative;
		animation: marquee 20s linear infinite;
    justify-content: space-around;
    // min-width:100%;
    
	}
		
	img {
		display: block;
		min-width: var(--image-size);
		height: var(--image-size);
		margin: 0 6vw;
	}
  
  
  
  @media (max-width:900px) {
    --image-size: #{$min-image-size};
    --image-size: min(max(#{$min-image-size}, 10vw), #{$max-image-size});
	}

}

@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-500%); }
}