.container {
  padding: 0;
}
.header{
  margin-top: 0;
}
.h{
  font-size: 100px;
  font-weight: bold;
  width: 100vw;
  height: 100vh - 72px;
  padding-left: 42%;
  padding-right: 42%;
  margin-top: 8%;
  margin-bottom: 8%;
}